POREALLAS_TAS_FORECAST_URI = "./data/parsed/s51_tas.zarr"
POREALLAS_ERA5_URI = "./data/era5_daily_tas_1995_2025_regrid.zarr"
POREALLAS_GAMMA_URI = "./data/parsed/gamma.zarr"
POREALLAS_REGIONS_URI = "./data/parsed/segment_weights.zarr"
POREALLAS_REGIONS_POLYGONS_URI = "./data/parsed/impact_region.parquet"
POREALLAS_SOCIOECONOMICS_URI = "./data/parsed/socioeconomics.zarr"

