POREALLAS_PARSED_ERA5_URI = "./data/parsed/era5.zarr"
POREALLAS_PARSED_GMFD_URI = "./data/parsed/gmfd.zarr"
POREALLAS_PARSED_FORECAST_URI = "./data/parsed/forecast.zarr"
POREALLAS_TAS_FORECAST_URI = "./data/parsed/forecast_adj.zarr"
POREALLAS_ERA5_URI = "./data/parsed/era5_adj.zarr"
POREALLAS_GAMMA_URI = "./data/parsed/gamma.zarr"
POREALLAS_REGIONS_URI = "./data/parsed/segment_weights.zarr"
POREALLAS_REGIONS_POLYGONS_URI = "./data/parsed/impact_region.parquet"
POREALLAS_SOCIOECONOMICS_URI = "./data/parsed/socioeconomics.zarr"
POREALLAS_EFFECTS_URI = "./data/output/effects.zarr"
